*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rosybrown;
}
.na{
    text-align: center;
}
.popup{
    background: #fff;
    border: 0;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    padding: 15px;
    border-radius: 6px;
    transform: translate(-50%,-50%);
}
.popup .num{
    margin: 15px;
    height: 30px;
    border: 1px solid black;
}
.popup label{
    font-size: 20px;
}
.popup .submit{
    margin-left: 25%;
    font-size: 20px;
    height: 25px;
    width: 50%;
}