.popup {
    display: none;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background: #fff;
    border: 0;
    width: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%,-50%)
}

.popup label {
    display: block;
    margin-bottom: 10px;
}

.popup input[type="number"] {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

.popup .submit {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 27%;    
}

.popup .submit:hover {
    background-color: #45a049;
}
body {
    background-color: rosybrown;
}

.na {
    text-align: center;
}

.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 23px;
    border-radius: 10px;
    background-color: white;
}

fieldset{
    border-radius: 10px;
    border-color: black;
    width: 40%;
    background-color: grey;
    margin-left: 30%;
}

.MATHS label , .PHYSICS label , .PPS label ,.HW1 label ,.HW2 label ,.ENGLISH label {
    margin: 20px;
}

.MATHS,.PHYSICS,.PPS,.HW2{
    margin-top: 2%;
}

.PHYSICS .lab1 ,.PPS .lab1 ,.HW1 .lab1 {
    margin-top: 2%;
    margin-bottom: 3%; 
}

.HW2 .lab1{
    margin-bottom: 3%; 
}
.ENGLISH .ext-marks{
    margin-bottom: 1%; 
    margin-top: 1%;w;
}
.separator {
    border: none;
    border-top: 1px solid black;
    margin: 20px 0;
}